<div class="main_content">
  <div id="recipe_top" class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.image_url, class: "recipe-image" if @recipe.image.present? %>
    </div>
    <div class="col-md-8">
      <div id="recipe_info">
        <h4><%= @recipe.title %></h4>
        <p><%= @recipe.description %></p>
        <p><b>Submitted by: <%= @recipe.user.username%></b></p>
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to like_recipe_path(@recipe), method: :put do %>
            <button type="button" class="btn btn-default"><span><%= fa_icon "thumbs-up" %></span> <%= @recipe.get_likes.size %></button>
          <% end %>
          <%= link_to dislike_recipe_path(@recipe), method: :put do %>
            <button type="button" class="btn btn-default"><span><%= fa_icon "thumbs-down" %></span> <%= @recipe.get_dislikes.size %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient|%>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction|%>
            <li><%= direction.step %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="comments">
      <% if @recipe.comments.any? %>
        <%= render @recipe.comments %>
      <% else %>
        <p>There are no comments for this recipe post</p>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= render "comments/form", recipe: @recipe, comment: @comment%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back To Home Page", root_path, class: "btn btn-default" %>
      <% if user_signed_in?%>
        <%= link_to "Edit Recipe", edit_recipe_path, class: "btn btn-default" %>
        <%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
