<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3>    <%= t('notifications.all_notifications') %> </h3>
    <div class="panel">
      <div class="panel-body">
        <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-danger', method: 'delete' %>
        <br>
        <br>
        <div class="list">
          <% if @notifications.blank? %>
            <div class="no-records"><%= t('notifications.no_records') %></div>
          <% else %>
            <% @notification_groups.each do |group, notifications| %>
              <div class="notification-group">
                <%= render notifications %>
              </div>
              <hr>
            <% end %>
          <% end %>
        </div>
        <%= paginate @notifications %>
      </div>
    </div>
  </div>
</div>
</div>
